# Build Folders
bin/
obj/
publish/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sqbpro

# Logs
*.log
log/
logs/

# IDE settings
.vs/
.idea/

# Web Assets
wwwroot/css/
wwwroot/bootstrap/
wwwroot/sample-data/
