<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">完了通知端末</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductInfomation">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 本日の実績
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductEntry" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 実績登録
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductEntryView">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 履歴一覧
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
