@inject NavigationManager Navigation

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @if (!Navigation.Uri.EndsWith("product-entry")) // 現在のURIが "product-entry" でない場合のみ実行
        {
            Navigation.NavigateTo("product-entry");
        }
        else
        {
            <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Page not found!</p>
        </LayoutView>
    </NotFound>
</Router>
